/* Home Screen */

* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.header {
  height: 50px;
  background-color: #0cb474;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header > a{
  color: white;
  font-size: 30px;
  font-weight: bold;
  margin-left: 4em;
}

.links > a{
  color: blue;
  font-size: 25px;
  grid-area: main;
  margin-right: 20px;
}

#pic{
  width: 100%;
}

a {
  text-decoration: none;
}
.clear {
  clear: both;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  transition: 0.3s;
  width: 30%;
  height: 60vh;
  float: left;
  margin: 0 10%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
}

.container {
  padding: 20px 0px;
  text-align: center;
}
.container button {
  color: rgb(230, 173, 19);
}
.catagory {
  margin: 10%;
}

.custom-button {
  font-size: 15px;
  background-color: black;
  color: white;
  text-transform: uppercase;
  width: 120px;
  height: 40px;
  margin: 7% 0;
  padding: 0px 0px;
  border-radius: 10px;
  font-weight: bolder;
  cursor: pointer;
  vertical-align: middle;
}

.custom-button:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}


/* Login */

