  /* Navbar */
  * {
    box-sizing: border-box;
    margin: 0;
    
  }

  body {
    background-repeat: no-repeat;
    background-size: 100%;
  }
  
  body::after {
    content: "";
    background: url("https://img.freepik.com/free-photo/abstract-blur-organic-fresh-fruits-vegetable-grocery-shelves-supermarket-store-defocused-bokeh-light-background_293060-3149.jpg?size=626&ext=jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }

.NavButtons {
  color: blue;
  font-size: 25px;
  grid-area: main;
  margin-right: 25px;
  background-color: #0cb474;
}

.header {
  height: 50px;
  background-color: #0cb474;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Brand{
  color: white;
  font-size: 30px;
  font-weight: bold;
  margin-left: 4em;
}

a {
  text-decoration: none;
}

/* Home Screen */
.card {
  box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.9);
  transition: 0.3s;
  width: 30%;
  height: 60vh;
  float: left;
  margin: 0 10%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
}

#pic{
  width: 100%;
}

.container {
  padding: 20px 0px;
  text-align: center;
}
.container button {
  color: rgb(230, 173, 19);
}
.catagory {
  margin: 10%;
}

.custom-button {
  font-size: 15px;
  background-color: black;
  color: white;
  text-transform: uppercase;
  width: 120px;
  height: 40px;
  margin: 7% 0;
  padding: 0px 0px;
  border-radius: 10px;
  font-weight: bolder;
  cursor: pointer;
  vertical-align: middle;
}

.custom-button:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}

/* Login & Register Screens */
.log-form {
  width: 40%;
  min-width: 320px;
  max-width: 600px;
  background: #fff;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
}
@media (max-width: 40em) {
  .log-form {
    width: 95%;
    position: relative;
    margin: 2.5% auto 0 auto;
    left: 0%;
    transform: translate(0%, 0%);
  }
}
.log-form form {
  display: block;
  width: 100%;
  padding: 2em;
}
.log-form h2 {
  color: #5d5d5d;
  font-family: "open sans condensed";
  font-size: 30px;
  display: block;
  background: #2a2a2a;
  width: 100%;
  padding: 0.75em 1em 0.75em 1.5em;
  box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.05);
  border: 1px solid #1d1d1d;
  margin: 0;
  font-weight: 200;
}
.log-form input {
  display: block;
  margin: auto auto;
  width: 100%;
  margin-bottom: 2em;
  padding: 0.5em 0;
  border: none;
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 1.25em;
  color: #757575;
}
.log-form input:focus {
  outline: none;
}
.log-form .btn {
  display: inline-block;
  background: #1fb5bf;
  border: 1px solid #1ba0a9;
  padding: 0.5em 2em;
  color: white;
  margin-right: 15em;
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.2);
}
.log-form .btn:hover {
  background: #23cad5;
}
.log-form .btn:active {
  background: #1fb5bf;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1);
}
.log-form .btn:focus {
  outline: none;
}
.log-form .forgot {
  color: #33d3de;
  line-height: 0.5em;
  position: relative;
  top: 2.5em;
  text-decoration: none;
  font-size: 0.75em;
  margin: 0;
  padding: 0;
  float: right;
}
.log-form .forgot:hover {
  color: #1ba0a9;
}

.register-btn {
  float: right;
}

/* Veg & Fruit Screens */
.Products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.Products li {
  list-style-type: none;
  padding: 0;
  flex: 0 1 10rem;
  margin: 3rem;
  border-bottom: 2px solid gray;
}
.Product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.ProductName {
  font-size: 35px;
  font-weight: bold;
}

.ProductPrice{
  font-size: 23px;
  font-weight: bold;
}
.ProductImage {
  max-width: 34rem;
  max-height: 34rem;
  height: 200px;
  width: 200px;
}

/* Product Details Screen */

.ProductBackButton {
  margin: 10px 10px;
  font-size: 20px;
  font-weight: bold;
}

.ProductDetails {
  display: flex;
  margin-left: 80px;
  margin-top: 50px;
  align-items: flex-start;
  flex-wrap: wrap;
}

.DetailsActions {
  flex: 1 1 30rem;
}

.ProductDetails ul, .DetailsActions ul {
  border: 2px black solid;
  background-color: white;
  display: flex;
  flex-direction: column;
  margin-left: 120px;
  list-style-type: none;
}

.ProductImage {
  flex: 2 1 50rem;
}

.ProductImage img {
  max-width: 60rem;
  width: 100%;
}
